In [18]:
import pandas as pd
import numpy as np

pd.__version__

'1.1.4'

In [19]:
DATA_PATH = "./data"

In [20]:
df_test = pd.read_csv(DATA_PATH+'/hidden_for_inference.csv')
df_test.head(2)

   qplay_question_id                                               text
0               3535  좌표평면 위의 두 점 `A(1, 2)`, `B(5, -2)`에 대하여 선분 `AB`...
1               4537   `a-b=3`일 때, `a^3-3a^2b+(3b^2-5)a-b^3+5b-10`의 값은?

In [24]:
# load the preprocessed dataset
df_eval = pd.read_csv(f"{DATA_PATH}/data_eval_labels.csv", encoding="utf-8")
df_eval.head(15)

,qplay_question_id,text,bert_80_pred_chapter,bert_15_pred_chapter,tfidf_pred_chapter,word2vec_pred_chapter,word2vec_pred_similarity
0,3535,"좌표평면 위의 두 점 `A(1, 2)`, `B(5, -2)`에 대하여 선분 `AB`...",H1S1-10,H1S1-10,H1S1-09,H1S1-09,0.688554
1,4537,"`a-b=3`일 때, `a^3-3a^2b+(3b^2-5)a-b^3+5b-10`의 값은?",H1S1-01,H1S1-03,H1S1-01,H1S1-07,0.561534
2,3910,`-2 <= x <= 3`인 모든 실수 `x`에 대하여 이차부등식 `-x^2-2x+...,H1S1-08,H1S1-08,H1S1-08,H1S1-08,0.671672
3,4294,"네 점 `A(0, a)`, `B(b, 1)`, `C(5, 2)`, `D(4, 4)`...",H1S1-10,H1S1-09,H1S1-09,HSU1-07,0.719202
4,4319,"다항식 `x^3+x^2`을 다항식 `x^2-1`로 나누었을 때의 몫을 `Q(x)`,...",H1S1-01,H1S1-02,H1S1-01,H1S1-02,0.659963
5,7369,"`{(4/9)^(-3/4)}^(2/3)`의 값이 `k`일 때, `10k`의 값을 구...",HSU1-01,HSU1-03,H1S1-01,H1S1-03,0.580342
6,3843,"이차방정식 `x^2+x+1=0`의 두 근 `alpha`, `beta`에 대하여 이차...",H1S1-06,H1S1-05,H1S1-06,H1S1-05,0.739149
7,4125,이차방정식 `(x-2)^2-3|x-2|-4=0`을 만족하는 `x`의 값을 `alph...,H1S1-05,H1S1-05,H1S1-01,H1S1-07,0.717956
8,3703,사차방정식 `(x^2-4x)(x^2-4x-17)+60=0`의 근을 모두 더하면?,H1S1-07,H1S1-07,H1S1-07,H1S1-03,0.547870
9,4350,`-3 <= x <= 2`에서 이차함수 `y=-2x^2-4x+a`의 최댓값이 `5`...,H1S1-06,H1S1-06,H1S1-06,H1S1-06,0.701227
10,4748,`x`절편이 `-3`이고 `y`절편이 `4`인 직선의 방정식은?,H1S1-10,H1S1-10,H1S1-10,H1S1-11,0.485363
11,4968,`f(x)=4x^3+9x^2-3x+7`에 대해 `f(-1/2x+1)=0`의 세 근의...,H1S1-05,H1S2-05,H1S1-01,H1S1-03,0.646369
12,3818,"두 포물선 `y=-x^2-2x+2`, `y=x^2-6x+14`가 점 `P`에 대하여...",H1S1-12,H1S1-12,H1S1-01,H1S1-11,0.636652
13,3884,"두 점 `A(-1, 1)`, `B(7, 5)`를 지나는 직선에 수직이고, `bar ...",H1S1-09,H1S1-09,H1S1-01,H1S1-10,0.731098
14,3990,사차방정식 `(x+1)(x+2)(x+3)(x+4)=120`의 허수근이 다음과 같이 ...,H1S1-07,H1S1-07,H1S1-01,H1S2-06,0.681287

In [25]:
submission = []
model_label_name = "tfidf_pred_chapter"

for i in range(len(df_test)):
    temp_dic = {}
    temp_dic['qplay_question_id'] = int(df_test.loc[i, 'qplay_question_id'])
    temp_dic['predict_category'] = df_eval.loc[i, model_label_name]
    submission.append(temp_dic)

submission[0:5]

[{'qplay_question_id': 3535, 'predict_category': 'H1S1-09'},
 {'qplay_question_id': 4537, 'predict_category': 'H1S1-01'},
 {'qplay_question_id': 3910, 'predict_category': 'H1S1-08'},
 {'qplay_question_id': 4294, 'predict_category': 'H1S1-09'},
 {'qplay_question_id': 4319, 'predict_category': 'H1S1-01'}]

In [26]:
"""
from pprint import pprint
import requests
import json
HOST = 'http://ec2-13-125-227-119.ap-northeast-2.compute.amazonaws.com:8080/'
TOKEN = "055c2875-d72c-4ea8-9381-a2d1323cb618"
data = {"token" : TOKEN,
        "payload": submission}
# submit your answer 
response = requests.post(f'{HOST}submit/', data = json.dumps(data))
pprint(json.loads(requests.get(f'{HOST}rank/').text))
"""

{'message': [{'high_score': 0.0, 'team_name': '고려대학교 KUBIG'},
             {'high_score': 0.7999961959691431, 'team_name': '연세대학교 ybigta'},
             {'high_score': 0.82773999316432,
              'team_name': 'mathpresso_baseline'},
             {'high_score': 0.8724415046283901, 'team_name': '연세대학교 YAI'}]}

In [1]:
from pprint import pprint
import requests
import json
HOST = 'http://ec2-13-125-227-119.ap-northeast-2.compute.amazonaws.com:8080/'
# TOKEN = "055c2875-d72c-4ea8-9381-a2d1323cb618"
# data = {"token" : TOKEN,
#         "payload": submission}
# # submit your answer 
# response = requests.post(f'{HOST}submit/', data = json.dumps(data))
pprint(json.loads(requests.get(f'{HOST}rank/').text))

{'message': [{'high_score': 0.8170512920594499, 'team_name': '고려대학교 KUBIG'},
             {'high_score': 0.8309340694390499,
              'team_name': 'mathpresso_baseline'},
             {'high_score': 0.8769679804900951, 'team_name': '연세대학교 ybigta'},
             {'high_score': 0.8809188255597712, 'team_name': '연세대학교 YAI'}]}