In [1]:
import pandas as pd
import numpy as np

In [2]:
# pandas 설정: 각 column 별 (혹은 한 cell에서) 출력되는 글자수 제한을 없애기
pd.set_option('display.max_colwidth', -1)

C:\Users\sdn11\Anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

In [3]:
DATA_PATH = "./data"

In [4]:
# 중단원 임시 지정
STR_YEAR_SEMESTER = "H1S1"
STR_MIDDLE_NO = "02"

In [5]:
df_quanda = pd.read_csv(f"{DATA_PATH}/몽데이크_Open.csv", encoding="utf-8")
df_quanda.head()

,qplay_question_id,text,qtid,name,subtitle,question_difficulty,question_type_difficulty,grade,purpose
0,3504,"연립부등식 `{(-x-3 >= -2x+1), (2x+a <= 10) :}`의 해가 존재하도록 하는 `a`의 최댓값을 구하면?",H1S1-08-05,해를 갖거나 갖지 않는 연립일차부등식,NaN,3,2.0,10,open
1,3675,부등식 `[x]^2-2[x]-3 < 0`의 해는?,H1S1-08-11,절댓값 또는 가우스 기호가 포함된 이차부등식,NaN,3,2.0,10,open
2,3779,"점 `(1, 2)`를 지나며 중심이 직선 `x-y-1=0` 위에 있고 `x`축에 접하는 원의 방정식은?",H1S1-11-05,x축 또는 y축에 접하는 원의 방정식,NaN,3,2.0,10,open
3,3649,"`x`, `y`가 정수일 때, 방정식 `xy+2x-3y=7`을 만족하는 순서쌍 `(x, y)`의 개수는?",H1S1-07-18,정수 및 자연수 조건을 갖는 부정방정식,NaN,3,3.0,10,open
4,3388,"평행이동 `(x, y)->(x+2, y-7)`에 의해 포물선 `y=x^2`을 평행이동하였더니 포물선 `y=x^2+px+q`가 되었다고 할 때, 상수 `p`, `q`에 대하여 `p+q`의 값은?",H1S1-12-03,도형의 평행이동 (2),원,2,2.0,10,open

In [6]:
df_splited_qtid = df_quanda["qtid"].str.split("-", expand=True,)
df_splited_qtid[:5]

      0   1   2
0  H1S1  08  05
1  H1S1  08  11
2  H1S1  11  05
3  H1S1  07  18
4  H1S1  12  03

In [7]:
# Split qtid column into 학년, 중단원, 소단원 three independent columns
df_wrangled = df_quanda
df_wrangled[["학년", "중단원", "소단원"]] = df_splited_qtid
df_wrangled = df_wrangled.drop(columns=["qtid", "purpose", "grade"])
df_wrangled.head()

,qplay_question_id,text,name,subtitle,question_difficulty,question_type_difficulty,학년,중단원,소단원
0,3504,"연립부등식 `{(-x-3 >= -2x+1), (2x+a <= 10) :}`의 해가 존재하도록 하는 `a`의 최댓값을 구하면?",해를 갖거나 갖지 않는 연립일차부등식,NaN,3,2.0,H1S1,08,05
1,3675,부등식 `[x]^2-2[x]-3 < 0`의 해는?,절댓값 또는 가우스 기호가 포함된 이차부등식,NaN,3,2.0,H1S1,08,11
2,3779,"점 `(1, 2)`를 지나며 중심이 직선 `x-y-1=0` 위에 있고 `x`축에 접하는 원의 방정식은?",x축 또는 y축에 접하는 원의 방정식,NaN,3,2.0,H1S1,11,05
3,3649,"`x`, `y`가 정수일 때, 방정식 `xy+2x-3y=7`을 만족하는 순서쌍 `(x, y)`의 개수는?",정수 및 자연수 조건을 갖는 부정방정식,NaN,3,3.0,H1S1,07,18
4,3388,"평행이동 `(x, y)->(x+2, y-7)`에 의해 포물선 `y=x^2`을 평행이동하였더니 포물선 `y=x^2+px+q`가 되었다고 할 때, 상수 `p`, `q`에 대하여 `p+q`의 값은?",도형의 평행이동 (2),원,2,2.0,H1S1,12,03

In [8]:
arr_qtid_name = df_wrangled[(df_wrangled['학년']==f'{STR_YEAR_SEMESTER}') & (df_wrangled['중단원']==f'{STR_MIDDLE_NO}')]['name'].unique()
arr_qtid_name

array(['나머지정리 (5)', '나머지정리 (2)', '항등식과 다항식의 나눗셈', '나머지정리 (4)', '인수정리 (1)',
       '인수정리 (2)', '조립제법과 항등식', '주어진 조건을 만족하는 항등식', '나머지정리 (1)',
       '나머지정리의 활용', '복잡한 항등식의 계수의 합', '나머지정리 (3)', '항등식과 수치대입법',
       '항등식과 계수비교법'], dtype=object)

In [9]:
list_qtid_name = list(arr_qtid_name)
list_qtid_name

['나머지정리 (5)',
 '나머지정리 (2)',
 '항등식과 다항식의 나눗셈',
 '나머지정리 (4)',
 '인수정리 (1)',
 '인수정리 (2)',
 '조립제법과 항등식',
 '주어진 조건을 만족하는 항등식',
 '나머지정리 (1)',
 '나머지정리의 활용',
 '복잡한 항등식의 계수의 합',
 '나머지정리 (3)',
 '항등식과 수치대입법',
 '항등식과 계수비교법']

## using konlpy to extract keyword for 중단원

In [10]:
# tokenizing sentences into nouns, verbs, etc
from konlpy.tag import Mecab
def extract_keyword(corpus: str, stopwords:list) -> list:
    mecab_tokenizer = Mecab()

    mecab_pos = ["NNG", "NNP", "VV", "VA", "MAG"]

    mecab_keywords = [word for word, tag in mecab_tokenizer.pos(corpus, flatten=True) if len(word) > 1 and tag in mecab_pos and word not in stopwords]
    return mecab_keywords

In [11]:
list_stopwords = []
extract_keyword(list_qtid_name[0], list_stopwords)

['나머지', '정리']

In [12]:
for name in list_qtid_name:
    print(name , "-> 키워드:", extract_keyword(name, list_stopwords))

나머지정리 (5) -> 키워드: ['나머지', '정리']
나머지정리 (2) -> 키워드: ['나머지', '정리']
항등식과 다항식의 나눗셈 -> 키워드: ['항등식', '다항식', '나눗셈']
나머지정리 (4) -> 키워드: ['나머지', '정리']
인수정리 (1) -> 키워드: ['인수', '정리']
인수정리 (2) -> 키워드: ['인수', '정리']
조립제법과 항등식 -> 키워드: ['조립제법', '항등식']
주어진 조건을 만족하는 항등식 -> 키워드: ['조건', '만족', '항등식']
나머지정리 (1) -> 키워드: ['나머지', '정리']
나머지정리의 활용 -> 키워드: ['나머지', '정리', '활용']
복잡한 항등식의 계수의 합 -> 키워드: ['항등식', '계수']
나머지정리 (3) -> 키워드: ['나머지', '정리']
항등식과 수치대입법 -> 키워드: ['항등식', '수치', '대입법']
항등식과 계수비교법 -> 키워드: ['항등식', '계수', '비교법']

## using Okt to extract keyword for 중단원

In [13]:
from konlpy.tag import Okt

def extract_keyword_okt(raw:str, stopwords:list) -> list:
    okt_tokenizer = Okt()
    # position arguments(or position tags): 내가 뽑아내고 싶은 형태소들
    twitter_pos = ["Noun", "Alpha", "Verb", "Number", "Adverb"]
    okt_list = [
        word for word, tag in okt_tokenizer.pos(raw, norm=True, stem=True)
        # norm: normalize 그랰ㅋㅋ -> 그래ㅋㅋ  # stem: stemming 바뀌나->바뀌다
        if len(word) > 1 and tag in twitter_pos and word not in stopwords
    ]
    return okt_list

In [14]:
extract_keyword_okt(list_qtid_name[0], list_stopwords)

['나머지정리']

In [15]:
for name in list_qtid_name:
    print(name , "-> 키워드:", extract_keyword_okt(name, list_stopwords))

나머지정리 (5) -> 키워드: ['나머지정리']
나머지정리 (2) -> 키워드: ['나머지정리']
항등식과 다항식의 나눗셈 -> 키워드: ['항등식', '다항식', '나눗셈']
나머지정리 (4) -> 키워드: ['나머지정리']
인수정리 (1) -> 키워드: ['인수정리']
인수정리 (2) -> 키워드: ['인수정리']
조립제법과 항등식 -> 키워드: ['조립제법', '항등식']
주어진 조건을 만족하는 항등식 -> 키워드: ['주어지다', '조건', '항등식']
나머지정리 (1) -> 키워드: ['나머지정리']
나머지정리의 활용 -> 키워드: ['나머지정리', '활용']
복잡한 항등식의 계수의 합 -> 키워드: ['항등식', '계수']
나머지정리 (3) -> 키워드: ['나머지정리']
항등식과 수치대입법 -> 키워드: ['항등식', '수치', '입법']
항등식과 계수비교법 -> 키워드: ['항등식', '수비', '교법']

## using soynlp to extract keyword

In [16]:
# Documentation: https://github.com/lovit/soynlp
from soynlp.utils import DoublespaceLineCorpus
from soynlp.noun import LRNounExtractor_v2

noun_extractor = LRNounExtractor_v2(verbose=True)
# nouns = noun_extractor.train_extract(list_qtid_name)
nouns = noun_extractor.train_extract(list_qtid_name, min_noun_frequency=1, min_noun_score=0.3) #
nouns

[Noun Extractor] use default predictors
[Noun Extractor] num features: pos=3929, neg=2321, common=107
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 23 from 14 sents. mem=0.512 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=33, mem=0.512 Gb
[Noun Extractor] batch prediction was completed for 8 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 3 -> 3
[Noun Extractor] postprocessing ignore_features : 3 -> 3
[Noun Extractor] postprocessing ignore_NJ : 3 -> 3
[Noun Extractor] 3 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.512 Gb
[Noun Extractor] 42.42 % eojeols are covered

{'나머지정리': NounScore(frequency=6, score=1.0),
 '항등식': NounScore(frequency=6, score=1.0),
 '계수': NounScore(frequency=1, score=0.5)}

In [17]:
from soynlp.tokenizer import LTokenizer

tokenizer = LTokenizer()
tokenizer.tokenize(sentence=list_qtid_name[0], flatten=False)

[('나머지정리', ''), ('(5)', '')]

* 세 가지 tokenizer들을 비교해보았을 때, "원" 같은 키워드를 잡는 건 soynlp였다. 
* 전반적으로 soynlp가 명사를 적절하게 추출했다. 다만 "인수정리" 같은 키워드는 잡아내지 못했다.
* mecab은 형태소를 잘게 쪼개는 경향이 강하다."나머지정리" 경우는 mecab의 경우 합성어 분리 ("나머지", "정리")로 했으나, Okt랑 soynlp는 "나머지정리"로 인식했다.
* 따라서 단원 별 키워드 라벨링을 일단 soynlp를 사용할 것이다

In [18]:
# 중단원-소단원 id만 뽑아내기
df_qtid = pd.DataFrame({})
df_qtid["qtid"] = df_quanda["qtid"].sort_values()
df_qtid

            qtid
1497  H1S1-01-01
140   H1S1-01-01
145   H1S1-01-01
4823  H1S1-01-01
126   H1S1-01-01
...          ...
798   HSU1-11-13
1846  HSU1-11-13
444   HSU1-11-13
2665  HSU1-11-13
2718  HSU1-11-13

[5364 rows x 1 columns]

In [19]:
# 서로 같은 중단원-소단원 id들은 합치기. 총 592개의 소단원들이 남는다.
df_temp = df_qtid.groupby(["qtid"]).agg('sum').reset_index()
df_temp

           qtid
0    H1S1-01-01
1    H1S1-01-02
2    H1S1-01-03
3    H1S1-01-04
4    H1S1-01-05
..          ...
587  HSU1-11-09
588  HSU1-11-10
589  HSU1-11-11
590  HSU1-11-12
591  HSU1-11-13

[592 rows x 1 columns]

In [20]:
# Split qtid column into 학년, 중단원, 소단원 three independent columns
df_splited_temp = df_temp["qtid"].str.split("-", expand=True,)
df_splited_temp[:5]

df_temp[["학년", "중단원", "소단원"]] = df_splited_temp
df_temp

           qtid    학년 중단원 소단원
0    H1S1-01-01  H1S1  01  01
1    H1S1-01-02  H1S1  01  02
2    H1S1-01-03  H1S1  01  03
3    H1S1-01-04  H1S1  01  04
4    H1S1-01-05  H1S1  01  05
..          ...   ...  ..  ..
587  HSU1-11-09  HSU1  11  09
588  HSU1-11-10  HSU1  11  10
589  HSU1-11-11  HSU1  11  11
590  HSU1-11-12  HSU1  11  12
591  HSU1-11-13  HSU1  11  13

[592 rows x 4 columns]

In [21]:
df_qtid = df_temp
df_qtid

           qtid    학년 중단원 소단원
0    H1S1-01-01  H1S1  01  01
1    H1S1-01-02  H1S1  01  02
2    H1S1-01-03  H1S1  01  03
3    H1S1-01-04  H1S1  01  04
4    H1S1-01-05  H1S1  01  05
..          ...   ...  ..  ..
587  HSU1-11-09  HSU1  11  09
588  HSU1-11-10  HSU1  11  10
589  HSU1-11-11  HSU1  11  11
590  HSU1-11-12  HSU1  11  12
591  HSU1-11-13  HSU1  11  13

[592 rows x 4 columns]

In [22]:
# 중단원 - [소단원 keyword1, 소단원 keyword2 ...]를 만들기 위해서 학년 - 중단원 column을 따로 만든다
df_temp = df_qtid[["학년", "중단원"]]
df_temp = df_temp.groupby(["학년", "중단원"]).agg('sum').reset_index()
df_temp

      학년 중단원
0   H1S1  01
1   H1S1  02
2   H1S1  03
3   H1S1  04
4   H1S1  05
5   H1S1  06
6   H1S1  07
7   H1S1  08
8   H1S1  09
9   H1S1  10
10  H1S1  11
11  H1S1  12
12  H1S2  01
13  H1S2  02
14  H1S2  03
15  H1S2  04
16  H1S2  05
17  H1S2  06
18  H1S2  07
19  HSTA  01
20  HSTA  02
21  HSTA  03
22  HSTA  04
23  HSTA  05
24  HSTA  06
25  HSTA  07
26  HSU1  01
27  HSU1  02
28  HSU1  03
29  HSU1  04
30  HSU1  05
31  HSU1  06
32  HSU1  07
33  HSU1  08
34  HSU1  09
35  HSU1  10
36  HSU1  11

In [23]:
# [소단원 keyword1, 소단원 keyword2 ...] column value를 list로 만든다.
list_keyword = []
for index, row in df_temp.iterrows():
    print(row)
    arr_qtid_name =df_quanda[(df_quanda["학년"]==row['학년']) & (df_quanda["중단원"]==row['중단원'])]['name'].unique()
    list_qtid_name = list(arr_qtid_name)
    print(list_qtid_name)
    dict_nouns = noun_extractor.train_extract(list_qtid_name, min_noun_frequency=1, min_noun_score=0.3)
    list_nouns = list(dict_nouns.keys())
    list_keyword.append(list_nouns)

(2)']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 40 from 15 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=57, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 19 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 4 -> 4
[Noun Extractor] postprocessing ignore_features : 4 -> 4
[Noun Extractor] postprocessing ignore_NJ : 4 -> 4
[Noun Extractor] 4 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 22.81 % eojeols are covered
학년     H1S2
중단원    07
Name: 18, dtype: object
['뽑아서 나열하는 방법의 수', '색칠하는 방법의 수', '이웃하거나 이웃하지 않는 순열의 수', '합의 법칙', '도로망에서의 방법의 수', '방정식 혹은 부등식을 만족시키는 순서쌍의 개수', '대표를 뽑는 순열의 수', '곱의 법칙', '수형도를 이용하는 경우의 수', '대진표 작성하기', '순열기호 P와 조합기호 C를 이용한 증명', '사전식으로 배열하는 방법의 수', '조건을 만족하는 자연수의 개수', '분할하는 방법의 수', '지불 방법의 수와 지불 금액의 수', '순열기호 P와 조합기호 C의 계산', "'적어도'의 조건이 있는 순열의 수", '직선 또는 대각선의 개수', '주어진 점으로 만들수 있는 다각형의 개수', '분할한 후 분배하는 방법의 수', '조합의 수', '주어진 선분으로 만들수 있는 다각형의 개수', "'적어도'의 조건이 있는 조합의 수", '함수의 개수', '자리에 대한 조건이 있는 순열의 수', '특정한 것을 포함하거나 포함하지 않는 조합의 수', '약수의 개수']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 66 from 27 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=113, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 45 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 10 -> 10
[Noun Extractor] postprocessing ignore_features : 10 -> 10
[Noun Extractor] postprocessing ignore_NJ : 10 -> 10
[Noun Extractor] 10 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 38.05 % eojeols are covered
학년     HSTA
중단원    01
Name: 19, dtype: object
['최단 거리의 경우의 수 (2)', '색칠하는 경우의 수', '같은 것이 있는 순열 (2)', '중복순열의 활용 (2)', '최단 거리의 경우의 수 (1)', '원탁에 둘러앉는 경우의 수', '같은 것이 있는 순열 (1)', '순서가 정해져 있는 순열', '중복순열', '중복순열의 활용 (1)', '여러 모양의 탁자에 둘러앉는 경우의 수']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 21 from 11 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=44, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 10 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 1 -> 1
[Noun Extractor] postprocessing ignore_features : 1 -> 1
[Noun Extractor] postprocessing ignore_NJ : 1 -> 1
[Noun Extractor] 1 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 6.82 % eojeols are covered
학년     HSTA
중단원    02
Name: 20, dtype: object
['이항계수의 합', '(a+b+c)ⁿ의 전개식', '중복조합의 활용 (3)', '이항계수의 성질', '(1+x)ⁿ 의 전개식의 활용', '(a+b)ⁿ(c+d)ᵐ의 전개식', '중복조합의 활용 (1)', '(a+b)ⁿ의 전개식', '중복조합의 활용 (2)', '중복조합']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 16 from 10 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=24, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 5 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 2 -> 2
[Noun Extractor] postprocessing ignore_features : 2 -> 2
[Noun Extractor] postprocessing ignore_NJ : 2 -> 2
[Noun Extractor] 2 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 25.00 % eojeols are covered
학년     HSTA
중단원    03
Name: 21, dtype: object
['수학적 확률', '중복순열과 확률', '시행과 사건', '확률의 덧셈정리 (2)', '확률의 기본 성질', '여사건의 확률 (2)', '원순열과확률', '여사건의 확률 (1)', '기하적 확률', '순열과 확률', '확률의 덧셈정리 (1)', '조합과 확률', '확률의 덧셈정리와 여사건의 확률', '통계적 확률', '같은 것이 있는 순열과 확률']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 21 from 15 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=39, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 9 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 3 -> 3
[Noun Extractor] postprocessing ignore_features : 3 -> 3
[Noun Extractor] postprocessing ignore_NJ : 3 -> 3
[Noun Extractor] 3 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 46.15 % eojeols are covered
학년     HSTA
중단원    04
Name: 22, dtype: object
['조건부확률의 계산', '조건부확률', '독립시행의 확률의 활용', '독립사건의 확률', '사건의 독립과 종속 판정하기', '확률의 곱셈정리 (2)', '확률의 곱셈정리와 조건부확률', '독립사건의 확률의 활용', '독립시행의 확률', '확률의 곱셈정리 (1)', '사건의 독립과 종속의 성질']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 18 from 11 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=30, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 9 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 4 -> 4
[Noun Extractor] postprocessing ignore_features : 4 -> 4
[Noun Extractor] postprocessing ignore_NJ : 4 -> 4
[Noun Extractor] 4 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 46.67 % eojeols are covered
학년     HSTA
중단원    05
Name: 23, dtype: object
['이산확률변수 aX+b의 평균, 분산, 표준편차 (2)', '이산확률변수 aX+b의 평균, 분산, 표준편차 (3)', '이항분포에서의 확률', '확률질량함수의 성질 (2)', '기댓값', '확률질량함수의 성질 (1)', '이산확률변수 aX+b의 평균, 분산, 표준편차 (1)', '이산확률변수의 평균, 분산, 표준편차 (2)', '이항분포의 평균, 분산, 표준편차 (2)', '이산확률변수의 확률', '이항분포의 평균, 분산, 표준편차 (1)', '이산확률변수의 평균, 분산, 표준편차 (1)']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 15 from 12 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=49, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 5 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 2 -> 2
[Noun Extractor] postprocessing ignore_features : 2 -> 2
[Noun Extractor] postprocessing ignore_NJ : 2 -> 2
[Noun Extractor] 2 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 18.37 % eojeols are covered
학년     HSTA
중단원    06
Name: 24, dtype: object
['이항분포와 정규분포의 관계', '확률밀도함수의 성질', '정규분포의 활용 (3)', '정규분포의 활용 (1)', '정규분포에서 확률', '표준화를 이용한 미지수의 값 계산', '표준화를 이용한 확률 계산', '이항분포와 정규분포의 관계의 활용 (1)', '정규분포의 활용 (2)', '정규분포 곡선의 성질', '이항분포와 정규분포의 관계의 활용 (2)', '표준화를 이용한 확률 비교', '연속확률변수의 확률', '정규분포의 표준화']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 22 from 14 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=46, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 9 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 2 -> 2
[Noun Extractor] postprocessing ignore_features : 2 -> 2
[Noun Extractor] postprocessing ignore_NJ : 2 -> 2
[Noun Extractor] 2 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 26.09 % eojeols are covered
학년     HSTA
중단원    07
Name: 25, dtype: object
['표본평균의 확률 (3)', '모평균과 표본평균의 차', '신뢰구간의 성질', '표본평균의 평균, 분산, 표준편차 (2)', '모평균의 추정 (1)', '신뢰구간의 길이 (2)', '표본평균의 확률 (1)', '표본평균의 확률 (2)', '모평균의 추정 (2)', '모평균의 추정 (3)', '신뢰구간의 길이 (1)', '표본평균의 평균, 분산, 표준편차 (1)', '표본평균의 평균, 분산, 표준편차 (3)', '신뢰구간의 길이 (3)']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 15 from 14 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=47, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 4 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 1 -> 1
[Noun Extractor] postprocessing ignore_features : 1 -> 1
[Noun Extractor] postprocessing ignore_NJ : 1 -> 1
[Noun Extractor] 1 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 8.51 % eojeols are covered
학년     HSU1
중단원    01
Name: 26, dtype: object
['거듭제곱근', '거듭제곱근의 계산', '지수의 실생활에의 활용', '문자를 포함한 거듭제곱근의 계산', '곱셈 공식을 이용한 식의 계산', 'aˣ±a⁻ˣ 꼴을 이용하여 식의 값 구하기', 'aˣ 와 bʸ 의 값을 이용하여 식의 값 구하기', '다중 거듭제곱근', '거듭제곱근의 대소 비교', 'a^r 꼴이 자연수가 되게 하는 조건 구하기', '주어진 문자로 거듭제곱 표현하기', '지수의 확장', 'a^(nx) 꼴을 이용하여 식의 값 구하기 ', '지수를 사용하여 거듭제곱근 표현하기']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 39 from 14 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=58, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 16 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 5 -> 5
[Noun Extractor] postprocessing ignore_features : 5 -> 5
[Noun Extractor] postprocessing ignore_NJ : 5 -> 5
[Noun Extractor] 5 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 34.48 % eojeols are covered
학년     HSU1
중단원    02
Name: 27, dtype: object
['로그의 성질의 활용 (2)', '로그가 정의되기 위한 밑과 진수의 조건', '자릿수와 상용로그', '로그의 성질의 활용 (1)', '상용로그의 실생활 활용 (1)', '로그에 대한 증명', '조건을 이용하여 식의 값 구하기', '소수점 아래 처음으로 0이 아닌 숫자가 나타나는 자리', '가장 큰 자릿수 구하기', '로그의 정수 부분과 소수 부분', '로그의 여러 가지 성질과 대소관계', '상용로그의 활용', '로그의 기본성질', '이차방정식과 로그', '로그의 밑의 변환', '로그의 정의', '상용로그의 실생활 활용 (2)', '상용로그의 값']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 48 from 18 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=67, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 23 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 8 -> 8
[Noun Extractor] postprocessing ignore_features : 8 -> 8
[Noun Extractor] postprocessing ignore_NJ : 8 -> 8
[Noun Extractor] 8 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 35.82 % eojeols are covered
학년     HSU1
중단원    03
Name: 28, dtype: object
['지수부등식 (4)', '지수방정식 (4)', '지수부등식을 항상 성립하게 만드는 조건 구하기', '지수방정식 (2)', '지수함수의 최대, 최소 (2)', '지수함수의 성질과 그래프', '지수함수의 최대, 최소 (1)', '지수부등식 (2)', '지수함수의 값', '지수함수의 그래프의 평행이동과 대칭이동', '지수함수의 최대, 최소 (3)', '지수방정식 (3)', '지수부등식 (1)', '지수함수를 이용한 수의 대소관계 판별', '지수방정식과 지수부등식의 실생활 활용', '지수부등식 (3)', '지수함수의 그래프에서의 활용', '지수방정식 (1)', '지수함수의 역함수', '지수함수의 최대, 최소 (4)', '근의 조건이 주어진 지수방정식']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 35 from 21 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=65, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 13 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 5 -> 5
[Noun Extractor] postprocessing ignore_features : 5 -> 5
[Noun Extractor] postprocessing ignore_NJ : 5 -> 5
[Noun Extractor] 5 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 41.54 % eojeols are covered
학년     HSU1
중단원    04
Name: 29, dtype: object
['로그방정식 (4)', '로그부등식 (4)', '로그함수의 성질과 그래프', '로그함수를 이용한 대소 관계 판별', '로그함수의 그래프에서의 활용', '로그함수의 최대, 최소 (1)', '로그부등식 (2)', '근의 조건이 주어진 로그방정식과 로그부등식', '로그방정식 (2)', '로그부등식 (5)', '로그함수의 값', '로그함수의 실생활에의 활용', '로그부등식 (1)', '로그함수의 그래프의 평행이동과 대칭이동', '로그부등식 (3)', '로그함수의 최대, 최소 (4)', '로그함수의 최대, 최소 (2)', '로그함수의 역함수', '로그함수의 최대, 최소 (3)', '로그방정식 (3)', '로그방정식 (1)']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 29 from 21 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=61, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 11 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 3 -> 3
[Noun Extractor] postprocessing ignore_features : 3 -> 3
[Noun Extractor] postprocessing ignore_NJ : 3 -> 3
[Noun Extractor] 3 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 31.15 % eojeols are covered
학년     HSU1
중단원    05
Name: 30, dtype: object
['삼각함수', '삼각함수 사이의 관계 이용 (1)', '사분면의 각', '삼각함수 사이의 관계 이용 (3)', '두 동경의 위치 관계 (1)', '삼각함수의 값의 부호', '호도법과 육십분법', '동경의 위치 ', '삼각함수 사이의 관계 이용 (2)', '부채꼴의 호의 길이와 넓이', '두 동경의 위치 관계 (2)', '부채꼴의 호의 길이와 넓이의 최대, 최소 ', '삼각함수와 이차방정식']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 26 from 13 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=47, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 12 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 3 -> 3
[Noun Extractor] postprocessing ignore_features : 3 -> 3
[Noun Extractor] postprocessing ignore_NJ : 3 -> 3
[Noun Extractor] 3 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 21.28 % eojeols are covered
학년     HSU1
중단원    06
Name: 31, dtype: object
['여러 가지 각의 삼각함수 값 (3)', '삼각함수 값의 대소관계 판별', '삼각방정식 (3)', '삼각함수를 포함한 식의 최대, 최소 (3)', '삼각함수를 포함한 식의 최대, 최소 (4)', '삼각방정식 (2)', '삼각함수 그래프의 평행이동과 대칭이동', '삼각함수를 포함한 식의 최대, 최소 (2)', '삼각함수 식의 미정계수 구하기 (1)', '절댓값 기호가 포함된 삼각함수', '여러 가지 각의 삼각함수 값 (2)', '일반각에서 삼각함수 성질 활용하기', '여러 가지 각의 삼각함수 값 (1)', '삼각함수를 포함한 식의 최대, 최소와 주기 ', '삼각방정식의 근의 개수와 조건', '삼각함수를 포함한 식의 최대, 최소 (1)', '삼각함수 그래프의 대칭성', '이차방정식에서의 삼각방정식과 삼각부등식 활용', '삼각함수 식의 미정계수 구하기 (2)', '삼각함수 그래프에서 넓이 구하기', '주기함수', '삼각부등식 (2)', 'sin²x + cos²x = 1 을 이용해 식의 값 구하기', '삼각방정식 (1)', '삼각부등식 (1)', '삼각방정식 (4)']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 50 from 26 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=112, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 19 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 7 -> 7
[Noun Extractor] postprocessing ignore_features : 7 -> 7
[Noun Extractor] postprocessing ignore_NJ : 7 -> 7
[Noun Extractor] 7 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 38.39 % eojeols are covered
학년     HSU1
중단원    07
Name: 32, dtype: object
['세변의 길이를 알때 삼각형의 넓이', '사인법칙의 변형', '코사인 법칙', '사인법칙을 이용한 삼각형 모양 판별', '평행사변형의 넓이', '사인법칙과 삼각형의 외접원', '삼각형의 넓이', '사인법칙과 코사인법칙', '삼각형 넓이의 최대, 최소', '코사인법칙의 변형', '사인법칙과 코사인법칙을 이용한 삼각형 모양 판별', '대각선을 이용한 사각형의 넓이', '사인법칙의 활용', '코사인법칙의 활용', '삼각형으로 나누어 구하는 사각형의 넓이', '삼각형의 넓이와 외접원의 반지름', '사인법칙']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 33 from 17 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=53, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 19 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 4 -> 4
[Noun Extractor] postprocessing ignore_features : 4 -> 4
[Noun Extractor] postprocessing ignore_NJ : 4 -> 4
[Noun Extractor] 4 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 49.06 % eojeols are covered
학년     HSU1
중단원    08
Name: 33, dtype: object
['부분 합이 주어진 등차수열', '등차수열 합의 활용', '두 수 사이에 새로운 수를 넣어서 만든 등차수열의 합', '등차수열의 합', '두 수 사이에 새로운 수를 넣어서 만든 등차수열', '등차중항', '주어진 조건을 만족하는 등차수열의 항', '등차수열의 일반항', '등차수열의 활용', '등차수열 합의 최대, 최소', '등차수열', '수열의 일반항', '나머지가 동일한 자연수의 합', '등차수열의 합과 일반항의 관계', '처음으로 양 또는 음 값이 나오는 항']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 35 from 15 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=58, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 16 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 4 -> 4
[Noun Extractor] postprocessing ignore_features : 4 -> 4
[Noun Extractor] postprocessing ignore_NJ : 4 -> 4
[Noun Extractor] 4 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 43.10 % eojeols are covered
학년     HSU1
중단원    09
Name: 34, dtype: object
['두 수 사이에 새로운 수를 넣어서 만든 등비수열', '등비수열의 합', '등비수열의 합과 일반항의 관계', '등비수열의 실생활 활용', '등비수열의 활용', '등비수열과 도형', '원리합계', '등비중항', '등비수열 합의 활용', '부분 합이 주어진 등비수열', '등비수열의 일반항', '주어진 조건을 만족하는 등비수열의 항']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 27 from 12 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=37, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 8 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 4 -> 4
[Noun Extractor] postprocessing ignore_features : 4 -> 4
[Noun Extractor] postprocessing ignore_NJ : 4 -> 4
[Noun Extractor] 4 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 48.65 % eojeols are covered
학년     HSU1
중단원    10
Name: 35, dtype: object
['∑rⁿ의 형태를 가진 식의 계산', '다항식 꼴의 일반항을 갖는 수열의 합', '∑ 의 성질', '분수 형태의 수열의 합', '군수열이 분수로 이루어진 경우', '여러 개의 ∑이 포함된 식', '근호를 포함한 수열의 합', '(등차수열)×(등비수열) 형태의 수열의 합', '여러가지 군수열', '자연수의 거듭제곱의 합', '반복되는 특정 값을 가지는 수열의 합', '합의 기호 ∑', '군수열이 정수로 이루어진 경우', '등차수열, 등비수열과 ∑', '∑ 으로 표현된 수열의 합과 일반항의 관계', '로그를 포함한 수열의 합']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 47 from 16 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=67, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 23 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 9 -> 9
[Noun Extractor] postprocessing ignore_features : 9 -> 9
[Noun Extractor] postprocessing ignore_NJ : 9 -> 9
[Noun Extractor] 9 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 46.27 % eojeols are covered
학년     HSU1
중단원    11
Name: 36, dtype: object
['수학적 귀납법 (3)', '반복되는 수가 있는 수열', '등차수열의 귀납적 정의 ', 'Sn을 포함한 수열', '수학적 귀납법 (1)', '수학적 귀납법 (4)', '등비수열의 귀납적 정의', '수학적 귀납법 (2)', '여러 가지 수열의 귀납적 정의', '귀납적 정의와 도형에서의 활용', 'a_(n+1) = a_n +f(n)', 'a_(n+1) = a_n f(n)', '귀납적 정의의 활용']
[Noun Extractor] counting eojeols
[EojeolCounter] n eojeol = 28 from 13 sents. mem=0.515 Gb
[Noun Extractor] complete eojeol counter -> lr graph
[Noun Extractor] has been trained. #eojeols=45, mem=0.515 Gb
[Noun Extractor] batch prediction was completed for 11 words
[Noun Extractor] checked compounds. discovered 0 compounds
[Noun Extractor] postprocessing detaching_features : 2 -> 2
[Noun Extractor] postprocessing ignore_features : 2 -> 2
[Noun Extractor] postprocessing ignore_NJ : 2 -> 2
[Noun Extractor] 2 nouns (0 compounds) with min frequency=1
[Noun Extractor] flushing was done. mem=0.515 Gb
[Noun Extractor] 17.78 % eojeols are covered

In [24]:
# [소단원 keyword1, 소단원 keyword2 ...] column value를 살펴보자.
list_keyword

[['곱셈공식'],
 ['나머지정리', '항등식', '계수'],
 ['인수분해'],
 ['복소수', '조건'],
 ['이차방정식', '이차식', '판별', '조건', '근'],
 ['그래프'],
 ['삼차방정식', '사차방정식', '부정방정식', '계수', '조건', '근'],
 ['연립일차부등식', '연립이차부등식', '이차부등식', '부등식'],
 ['외분점', '거리', '사이'],
 ['직선', '사이', '거리', '점', '위'],
 ['방정식', 'x축', '원', '점', '위', '접'],
 ['평행이동', '대칭이동', '점'],
 ['부분집합', '유한집합', '집합', '원소', '관계'],
 ['성질', '집합', '연산', '개수', '부분', '부분집합'],
 ['절대부등식', '필요조건', '삼단논법', '거짓', '이용', '명제', '대우', '참'],
 ['일대일대응', '합성함수', '역함수', 'f∘g', '성질', '함수', '조건'],
 ['유리식', '그래프', '차수)', '번분수'],
 ['그래프', '역함수', '위', '값'],
 ['만족', '이용', '분할', '순열', '조합', '조건', '이웃', '포함', 'C', '수'],
 ['중복순열'],
 ['(a+b)ⁿ', '전개식'],
 ['덧셈정리', '확률', '기'],
 ['조건부확률', '곱셈정리', '독립', '종속'],
 ['이산확률변수', '이항분포'],
 ['정규분포', '관계'],
 ['모평균'],
 ['거듭제곱근', '이용', '지수', '꼴', '값'],
 ['자릿수', '성질', '부분', '로그', '조건', '정의', '밑', '대'],
 ['지수방정식', '지수부등식', '지수함수', '그래프', '조건'],
 ['로그방정식', '로그함수', '그래프'],
 ['삼각함수', '넓이', '호'],
 ['삼각방정식', '삼각함수', '그래프', '포함', '최소', '활용', '값'],
 ['코사인법칙', '사인법칙', '삼각', '넓이'],
 ['등차수열', '일반항', '합', '수'],
 ['등비수열', '일반항', '합', '수'],
 ['일반항', '군수열', '포함', '여러', '형태', '분수', '합', '식', '∑'],
 ['수열', '정의']]

In [25]:
# [소단원 keyword1, 소단원 keyword2 ...] value들을 각 중단원 별로 column으로써 추가한다.
df_temp["소단원_keywords_soynlp"] = list_keyword
df_temp

      학년 중단원                     소단원_keywords_soynlp
0   H1S1  01  [곱셈공식]
1   H1S1  02  [나머지정리, 항등식, 계수]
2   H1S1  03  [인수분해]
3   H1S1  04  [복소수, 조건]
4   H1S1  05  [이차방정식, 이차식, 판별, 조건, 근]
5   H1S1  06  [그래프]
6   H1S1  07  [삼차방정식, 사차방정식, 부정방정식, 계수, 조건, 근]
7   H1S1  08  [연립일차부등식, 연립이차부등식, 이차부등식, 부등식]
8   H1S1  09  [외분점, 거리, 사이]
9   H1S1  10  [직선, 사이, 거리, 점, 위]
10  H1S1  11  [방정식, x축, 원, 점, 위, 접]
11  H1S1  12  [평행이동, 대칭이동, 점]
12  H1S2  01  [부분집합, 유한집합, 집합, 원소, 관계]
13  H1S2  02  [성질, 집합, 연산, 개수, 부분, 부분집합]
14  H1S2  03  [절대부등식, 필요조건, 삼단논법, 거짓, 이용, 명제, 대우, 참]
15  H1S2  04  [일대일대응, 합성함수, 역함수, f∘g, 성질, 함수, 조건]
16  H1S2  05  [유리식, 그래프, 차수), 번분수]
17  H1S2  06  [그래프, 역함수, 위, 값]
18  H1S2  07  [만족, 이용, 분할, 순열, 조합, 조건, 이웃, 포함, C, 수]
19  HSTA  01  [중복순열]
20  HSTA  02  [(a+b)ⁿ, 전개식]
21  HSTA  03  [덧셈정리, 확률, 기]
22  HSTA  04  [조건부확률, 곱셈정리, 독립, 종속]
23  HSTA  05  [이산확률변수, 이항분포]
24  HSTA  06  [정규분포, 관계]
25  HSTA  07  [모평균]
26  HSU1  01  [거듭제곱근, 이용, 지수, 꼴, 값]
27  HSU1  02  [자릿수, 성질, 부분, 로그, 조건, 정의, 밑, 대]
28  HSU1  03  [지수방정식, 지수부등식, 지수함수, 그래프, 조건]
29  HSU1  04  [로그방정식, 로그함수, 그래프]
30  HSU1  05  [삼각함수, 넓이, 호]
31  HSU1  06  [삼각방정식, 삼각함수, 그래프, 포함, 최소, 활용, 값]
32  HSU1  07  [코사인법칙, 사인법칙, 삼각, 넓이]
33  HSU1  08  [등차수열, 일반항, 합, 수]
34  HSU1  09  [등비수열, 일반항, 합, 수]
35  HSU1  10  [일반항, 군수열, 포함, 여러, 형태, 분수, 합, 식, ∑]
36  HSU1  11  [수열, 정의]

In [26]:
DATA_PATH = "./data"
df_temp.to_csv(f"{DATA_PATH}/중단원_summary.csv", encoding="utf-8", index=False)